@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Author:</strong> <a href="https://www.linkedin.com/in/andrei-poltorak-8b7865158/">My LinkedIn account</a>
</address>
